body{
	background: url(../img/fundo.jpg), grey;
	width: 100%; 
    margin: auto;
	padding: auto;
	box-sizing: border-box;
	color: #363636;
}

h1{
	text-decoration: underline;
	font-size: 75px;
	text-align: center;
	font-family: 'Lobster', cursive;
}

section{
	margin-left: 15%;
	width: 80%;
}

.galeria{
	border: 1px solid #D3D3D3;
	background-color: #FFF;
	width: 315px;
	padding: 5px;
	height: 255px;
	margin: 5px;
	float: left;
}

.clear{
	clear: both;
}

footer{
	padding-top: 30px; 
	text-align: center;
	font-weight: bold;
}